@import '~normalize.css/normalize.css';
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/scss/variables';

body {
    background-color: $pt-dark-app-background-color;
    height: 100%;
}

.debug-border {
    border: thin dotted $red1;
}

.bp3-spinner.inline {
    display: inline-block;
    .bp3-spinner-animation {
        display: inline-block;
    }
}
